.text-justify{
    text-align:justify;
}

.heading-line{
    width: 140px;
    height:3px;
    background-color: rgb(13 29 108);
    margin:auto;
}

.w-100{
    width:100%;
}

.clr{
    color:#0000fe;
    font-weight:700;
}
.clr-white{
    color:#eee;
}
.clr-red{
    color: red;
}

.email-icon i{
    font-size: 32px;
    color: #0000fe;
    margin-top:13px;
}

.email-icon{
    position: relative;
    padding-left:30px;
}

.icon-bg{
    width: 60px;
    height: 60px;
    background-color: #dbdbf7;
    border-radius: 50%;
    text-align: center;
}
.icon-info{
    width: calc(100% - 60px);
    padding-left:20px;
}

.left-img, .right-img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.strip-bg, .mission-bg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mission-bg{
    background-position: right;
}

.contact-bg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-wrapper{
    background-color:#eee;
    border-radius:6px;
}
.box-shadow{
    box-shadow:0px 1px 8px #aaa;
}
.mission-wrapper{
    background-color:#fff;
    border-radius:5px;
}